@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

ul,
ol {
  padding-left: 20px;
}

body {
  background-color: var(--eggshell);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  color: var(--nutmeg);
  letter-spacing: 0.05rem;
}

p,
li {
  line-height: 1.6;
  color: var(--wenge-brown);
}

li {
  margin-top: 0.5rem;
}

.container {
  max-width: 900px;
  margin-inline: auto;
  background-color: var(--white);
  border-radius: 1rem;
}

.container div:not(first-child) {
  padding: 1.5rem;
}

.banner h1 {
  color: var(--dark-charcoal);
  margin-bottom: 1rem;
}

.banner article {
  background-color: var(--rose-white);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

.banner article h3 {
  color: var(--dark-raspberry);
  margin-bottom: 0.5rem;
}

.Instructions {
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
}

.Nutrition p {
  margin-top: 1rem;
}

.Nutrition ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--light-grey);
  padding: 0.5rem 0;
}

.Nutrition ul li:last-child {
  border-bottom: none;
}

.container img {
  width: 100%;
  border-radius: 0.5rem;
}

.attribution {
  font-size: 13px;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .container {
    margin: 5rem auto 0;
    padding: 2rem;
    border-radius: 1rem;
  }

  .banner h1 {
    font-size: 48px;
  }

  img {
    border-radius: 1rem;
  }
}
